@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');*{
    margin: 0;
    padding: 0;
    font-family: "Balsamiq sans";
}
.container{
    display: flex;
    height: 1000px;
    width: 1450px;
    /* background-color: coral; */
    /* overflow: hidden;    */
}   
.profile-page{
    /* background-color: aquamarine; */
    /* display: flex; */
}
.header{
    background-color: rgb(0, 0, 0);
    height: 100px;
    width: 1450px;
    display: flex;
    color: white;
    justify-content: space-evenly;
    /* align-items: left; */
}
h1, ul, button{
    margin: 30px;
    align-items: center;
}
.profile-header{
    font-size: 40px;
    margin-left: 100px;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 18px;
    margin-right: 500px;
    margin-left: 40px;
    /* text-decoration: none; */
    /* color: white; */
    /* justify-content: space-evenly; */
    /* align-items: left; */
}
.nav-links a{
    color: white;
    text-decoration: none;
}
.signout-btn{
    background-color: #1AA2B8;
    height: 35px;
    font-size: 20px;
    color: white;
    width: 100px;
    margin-right: 200px;
}
.body{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 800px;
    width: 800px;
    gap: 70px;
    padding-left: 200px;
    margin-bottom: 200px;
    /* border-top: 100px; */
    /* padding-right: 100px; */
    /* margin: -50px 100px; */
}
.left-col{
    /* display: flex; */
    height: 600px;
    width: 600px;
    margin-bottom: 37px;
}
.user{
    /* background-color:springgreen; */
    height: 400px;
    width: 600px;
    border: 5px solid lightgray;
    /* display: flex; */
    margin: 20px;
}
.user-header{
    background-color: #1AA2B8;
    height: 125px;
    width: 600px;
}
.jane-photo{
    height: 125px;
    width: 125px;
    border-radius: 50%;
    position: relative;
    top: 50px;
    left: 50px;
}
.user-body{
    /* background-color: indianred; */
    /* height: 300px; */
    padding-left: 30px;
    /* display: flex; */
    /* justify-content: space-around; */
}
h2{
    margin: 50px 30px 5px;
    font-size: 35px;
}
.location{
    display: flex;
    margin: 10px 30px 30px;
    gap: 10px;
    align-items: first baseline;
}
.map-marker{
    height: 30px;
}
h3{
    font-size: 20px;
}
.user-body p{
    font-size: 15px;
    margin: 25px 25px 25px;
}
/* p{
    font-size: 15px;
    margin: 25px 25px 15px;
} */
.gear-icon{
    height: 20px;
    margin-left: 25px;
}
.edit-profile{
    display: flex;
    gap: 10px;
}
.education{
    /* background-color: darksalmon; */
    height: 250px;
    width: 600px;
    border: 5px solid lightgray;
    margin-left: 20px;
}
.edu-top{
    background-color: #333333;
    height: 50px;
    width: 600px;
}
h5{
    font-size: 25px;
    color: white;
    margin-left: 25px;
    padding: 10px;
}
.edu-info{
    font-size: 30px;
    padding-top: 10px;
}
.education p{
    margin-left: 25px;
}
.edu-date{
    font-size: 20px;
    color: #858585;
    /* margin-top: -25px; */
}
.edu-details{
    font-size: 20px;
    /* margin-top: -25px; */
}
.right-col{
    /* display: flex; */
    height: 600px;
    width: 600px;
}
.request-bottom p{
    font-size: 15px;
    margin: 25px 25px 15px;
}
.connections-request{
    /* background-color: cornflowerblue; */
    height: 300px;
    width: 400px;
    border: 5px solid lightgray;
    margin-bottom: 20px;
}
.request-top{
    height: 75px;
    background-color: #333333;
    color: white;
    padding-top: 5px
}
.request-top p{
    font-size: 30px;
    /* padding: 20px; */
    /* margin-left: 60px; */
}
.connections-top, .request-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* .number{
    background-color: #bfbfbf;
    border: none;
    border-radius: 50%;
    color: #3b3b3b;
    height: 8px;
    padding: 15px;
    display: flex;
    text-align: center;
    align-items: center;
} */
.connections-top p{
    /* font-size: 30px; */
    /* padding: 10px; */
    /* margin-left: 60px; */
}
.connections-body p{
    font-size: 15px;
    margin: 25px 25px 15px;
}
.user-one, .user-two{
    display: flex;
    justify-content: space-evenly;
    margin: 25px;
}
.todd, .phil{
    height: 70px;
    border-radius: 50%;
}
.user-one, .user-two{
    display: flex;
    justify-content: space-around;
}
.user-one-logo-name, .user-two-logo-name{
    display: flex;
}
.user-one-circles, .user-two-circles{
    display: flex;
    gap: 20px;
}
.user-one p, .user-two p{
    /* margin-left: -30px; */
    font-size: 20px;
}
.accept-todd, .deny-todd, .accept-phil, .deny-phil{
    height: 50px;
}
.your-connections{
    /* background-color: darkorchid; */
    height: 500px;
    width: 400px;
    border: 5px solid lightgray;
}
.connections-top{
    height: 75px;
    background-color: #333333;
    padding-top: 5px;
}
.connections-top p{
    font-size: 30px;
    color: white;
}
.number{
    background-color: #bfbfbf;
    border: none;
    border-radius: 50%;
    /* color: #3b3b3b; */
    height: 8px;
    padding: 15px;
    display: flex;
    text-align: center;
    align-items: center;
}
.user-three, .user-four, .user-five, .user-six{
    display: flex;
    /* justify-content: space-evenly; */
    margin-top: 25px;
    margin-left: 30px;
}
.user-three p, .user-four p, .user-five p, .user-six p{
    font-size: 20px;
}
.adrien, .anne, .alayne, .arry{
    height: 70px;
    border-radius: 50%;
}
.connections-footer{
    padding: 20px;
    /* border: solid lightgray; */
    border-left: 5px solid lightgray;
    border-right: 5px solid lightgray;
    border-bottom: 5px solid lightgray;
}